.home {
  background-color: #eee;
  scroll-behavior: smooth;
}

.top__movie {
  
  font-size: 50px;
  font-weight: bold;
 
  margin-bottom: 20px;
  margin-left: 150px;
 
  
  /* border: 1px solid black; */
  

}
