.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: 8px solid grey; */
  background-color: #000;
  /* color: #fff; */
  padding: 20px;
  height: 15px;
  width: 100%;
  font-family: "Encode Sans SC", sans-serif;
  position: sticky;
  top: 0;

}

.menu_active {
  border-bottom:2px solid white;
}

.left__header {
  font-size: 30px;
  font-weight: bold;
}

.middle__header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link__header {
  text-decoration: none;
  padding: 10px;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input > input {
  width: 270px;

  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  font-size: 15px;
  padding-left: 5px;
  outline: none;
}

.middle__header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  color: rgb(238, 229, 229);
  padding-left: 10px;
  cursor: pointer;
  transform: scale(1.2);
}

.search:hover {
  color: cadetblue;
}
