.row {
  display: flex;
  padding: 20px;
  margin-left: 15px;
  /* background-color: red; */
  /* align-items: center; */
}

.row__1 {
  flex: 4;
  padding-right: 20px;
  overflow: hidden;


  
}

.row__2 {
  flex: 8;
  padding-left: 40px;
 
  /* background-color:yellow; */

}

.image {
  border: 5px solid #808080;
  width: 100%;
  height: 60vh;
  border-radius: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
  
}

.image:hover{
  transform: scale(1.2);
  border: 5px solid #808080;
  border-radius: 50px;
}

.title {
  text-align: start;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline;
  color: #161515;
  font-weight: bold;
  font-family: "Encode Sans SC", sans-serif;
  padding-bottom: 25px;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: left;
}

.quality {
  padding: 7px;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;

  border: none;

  border-radius: 5px;
  background-color: teal;
  
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  transition: 0.5s;
  
}

.quality:hover{
  cursor: pointer;
  color: #f5deb3;
  background-color: #194646;
}

.time {
  font-family: "Roboto", sans-serif;
  color: #1f6e6e;
  font-size: 15px;
  margin-left: 20px;
}

.rating {
  padding: 5px;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;

  border: none;

  border-radius: 5px;
  background-color: #dc9d17;
  color: #110f0f;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.3s linear;
  box-shadow: 0 8px 12px 0 rgba(211, 129, 36, 0.3);
  
}

.rating:hover{
  cursor: pointer;
  background-color: #d2691e;
  /* color: wheat; */
}

.overview {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;

  line-height: 20px;
  color: #504b4b;
  font-size: 16px;
}

.movie__info{
  display: flex;
  flex-direction: column;
  color: #353030;
  font-size: 18px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;

  
}

.infos{
  display: flex;
align-items: center;
justify-content: flex-start;
}

.infos__ans{

  padding-left: 10px;
}

.watch__now{
    padding: 16px;
  
  font-family: "Roboto", sans-serif;

  border: none;

  border-radius: 10px;
  margin-top: 20px;
  background-color: teal;
 
  font-size: 15px;
  font-family: "Encode Sans SC", sans-serif;
  
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
  box-shadow: 0 15px 10px 0 rgba(34, 82, 187, 0.302);

  transition:  0.8s;
}

.watch__now:hover{
    color: white;
    background-color: #368080;
    cursor: pointer;
}
